*,
*::before,
*::after {
    box-sizing: border-box;
}
ul[class],
ol[class] {
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
    margin: 0;
}
body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}
ul[class],
ol[class] {
    list-style: none;
}
a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
    vertical-align: top;
}
input,
button,
textarea,
select {
    font: inherit;
}

button {
    background-color: transparent;
    border: none;
    font: inherit
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'TT Hoves', sans-serif;
}

.btn {
    width: 220px;
    height: 70px;
    background-image: url(../../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 30px center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.btn-dark {
    color: white;
    background-image: url(../../img/arrow-light.svg);
    background-repeat: no-repeat;
    background-position: right 30px center;
    background-color: #333;
}
