@mixin flex($gap, $direction: row, $ai: start, $jc: start, ) {
    display: flex;
    flex-direction: $direction;
    align-items: $ai;
    justify-content: $jc;
    gap: $gap;
}

@mixin burger {
    display: block;
    content: '';
    width: 30px;
    height: 2px;
    position: absolute;
    transition: 0.3s;
    border-radius: 3px;
}