$grey-text: #BDBDBD;
$dark-grey: #333;
$footer-bg: #2C2C2C;
$light-grey: #F2F2F2;
$slider-arrows-bg: #F9F9F9;
$about-bg: #FBFBFB;
$input-bg: #F3F3F3;
$input-text: #8D8D8D;
$red: #C30000;
$footer-copyright: rgba(200, 200, 200, 0.50);