
@use "./mixins";
@use "./variables";

.footer {
    background-color: variables.$dark-grey;
    color: white;

    &__section {
        flex: 0 1 25%;
    }

    &__inner {
        @include mixins.flex($gap: 35px, $ai: stretch, $jc: space-between);
        padding: 50px 0;
    }

    &__heading {
        @include mixins.text($size: 16px, $weight: 700);
        margin-bottom: 20px;
    }

    &-nav{
        &__list {
            @include mixins.flex($gap: 15px, $direction: column);
        }
    }
}

.link {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.contacts {
    &__list {
        @include mixins.flex($gap: 30px, $direction: column, $jc: space-between);
    }
    &__list-item {
        padding-inline-start: 7px;
        margin-left: 20px;

        &:nth-child(1) {
            list-style-image: url('../../img/location.svg');
        }
        &:nth-child(2) {
            list-style-image: url('../../img/phone.svg');
        }
        &:nth-child(3) {
            list-style-image: url('../../img/mail.svg');
        }
    }
}

.media {
    &__list {
        @include mixins.flex($gap: 40px, $ai: center);
    }
}

.bottom {
    height: 70px;
    @include mixins.flex($ai: center, $jc: center);
    color: variables.$footer-copyright;
    border-top: 1px solid variables.$footer-copyright;

    &__copyright {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__inner {
            flex-direction: column;
            gap: 50px;
        }

        &__heading {
            font-size: 20px;
        }
    }
    .link {
        font-size: 16px;
    }

    .logo {
        margin: 0 auto;
    }

    .bottom__copyright {
        font-size: 14px;
    }
}



