@use './mixins';
@use './variables';

.intro {
    position: relative;
    @include mixins.flex($ai: stretch, $jc: space-between);
    z-index: 1;

    &__title {
        text-transform: uppercase;
        color: variables.$grey-text;
        @include mixins.text($size: 64px, $weight: 400, $lh: 100%);

        & span {
            color: variables.$dark-grey;
            font-weight: 700;
        }
    }

    &__inner {
        @include mixins.flex(80px, column, start, center);
    }
}

.switcher {
    @include mixins.size(53px, 53px);
    border: 1px solid variables.$light-grey;
    background-color: variables.$light-grey;
    cursor: pointer;

    &.last {
        background-color: white;
    }
}

.slider{
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    &__slides{
        display: flex;
        width: 100%;
    }
}
.img-bg {
    @include mixins.absolute(top 0 left 0);
    @include mixins.image;
    transition: .3s;

    &:hover {
        transform: scale(1.2);
    }
}

.slide {
    min-width: 700px;
    height: 750px;
    @include mixins.flex($ai: center, $jc: center);
    overflow: hidden;
    position: relative;
    transition: 0.3s;

    & .btn {
        @include mixins.absolute(bottom 0 left 0);
    }
}

.numbers {
    color: variables.$grey-text;
    font-size: 24px;

    @include flex(20px, row, center);

    span {
        display: block;
        @include mixins.size(43px, 1px);
        transform: rotate(-45deg);
        background-color: variables.$grey-text;
    }
}

@media screen and (max-width: 1024px){
    .slider {
        width: 550px;
    }
    .slide {
        min-width: 550px;
        height: 600px;
    }
    .intro__title {
        font-size: 60px;
    }
    .intro__inner {
        gap: 60px;
    }
}

@media screen and (max-width: 870px){
    .intro {
        flex-direction: column;
        gap: 20px;

        &__inner {
            gap: 30px;
            width: 100%;
            align-items: center;
        }
    }

    .slider {
        width:calc(100vw - 30px);
    }
    .slide {
        min-width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .intro__title {
        font-size: 50px;
    }

    .slide {
        height: 400px;
    }
}

@media screen and (max-width: 420px) {
    .intro__title {
        font-size: 40px;
    }
}